* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 290px;
    color: #4d4e53;
    background-color: #ffffff;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.page-wrapper {
    display: flex;
    width: 100%;
}

/* Header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
    width: 320px;
    height: 100%;
}

.title {
    margin: 20px 30px;
}

.title h1 {
    font-size: 30px;
    color: #000;
    font-weight: lighter;
}

.header ul li {
    padding: 10px 30px;
    border-top: 1px solid;
}

.header ul a {
    color: #4D4E53;
}

/* Main */

.main {
    margin-left: 320px;
    padding: 30px;
}

.main h2 {
    font-size: 28px;
    font-weight: lighter;
    color: black;
}

.main article {
    margin: 15px;
    color: #4D4E53;
}

.main article p {
    margin: 15px 0;
    font-size: 15px;
}

.main article ul {
    margin: 15px 0;
    padding-left: 40px;
}

.main article code {
    margin: 10;
    padding: 15px;
}

.main article ul {
    list-style: initial;
}

.main article ul li {
    margin: 15px 0 0 20px;
}

.main article a {
    text-decoration: underline;
}

@media(max-width: 850px) {
    .header {
        width: 250px;
    }
    .header .title, .header ul li {
        margin: 0px;
        padding: 10px 20px;
    }
    .main {
        margin-left: 250px;
    }
    .main article ul {
        padding: 0 0 0 20px;
    }
}

@media(max-width: 750px) {
    .header {
        position: static;
        width: 100%;
        text-align: center;
        border: none;
    }

    .header ul {
        border: 2px solid;
        height: 220px;
        overflow: scroll;
    }

    

    .page-wrapper {
        flex-direction: column;
    }

    .main{
        margin-left: 0px;
        padding: 30px 10px;
    }

    .main h2{
        text-align: center;
    }
}